{{#extend "main"}}
{{#content "head" mode="append"}}
    <link rel="stylesheet" href="assets/css/home.css" />
{{/content}}
{{#content "body"}}
    <p>Welcome to the {{title}}</p>
{{/content}}
{{#content "foot" mode="prepend"}}
    <script src="assets/js/analytics.js"></script>
{{/content}}
{{/extend}}
